<launch>

  <node pkg="xycar_imu" type="9dof_imu_node.py" name="xycar_imu" output="screen">
    <param name="port" type="string" value="/dev/ttyIMU" />
    <param name="frame_id" type="string" value="imu" />
    <param name="topic" type="string" value="imu" />
    <param name="queue_size" type="int" value="1" />
    <param name="hz" type="int" value="30" />
  </node>
  
</launch>
