<launch>

  <!-- motor node -->
  <include file="$(find xycar_motor)/launch/xycar_motor.launch" />

  <!-- USB Camera node -->
  <!-- <include file="$(find usb_cam)/launch/xycar_cam.launch" /> -->
  <node name="lane_detection" pkg="lane_detection" type="lane_detection_testing.py" output="screen"/>
  
</launch>
