<launch>

  <!-- motor node -->
  <!-- <include file="$(find xycar_motor)/launch/xycar_motor.launch" /> -->

  <!-- USB Camera node -->
  <!-- <include file="$(find usb_cam)/launch/xycar_cam.launch" /> -->
  <!-- <include file="$(find xycar_lidar)/launch/xycar_lidar.launch" /> -->
  <include file="$(find obstacle_detector)/launch/obstacle_test.launch"/>
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d /home/default0715.rviz" /> -->
  <node name="lane_detection" pkg="lane_detection" type="lane_detection_STATIC.py" output="screen"/>
  
</launch>
