<launch>
    <!-- motor node -->
    <include file="$(find xycar_motor)/launch/xycar_motor.launch" />

    <!-- IMU node -->
    <include file="$(find xycar_imu)/launch/xycar_imu.launch" />

    <!-- USB Camera node -->
    <include file="$(find usb_cam)/launch/xycar_cam.launch" />

    <!-- 2D LiDAR node -->
    <include file="$(find xycar_lidar)/launch/xycar_lidar.launch" />

    <!-- heading, lidar_clustering 동시 진행 -->
    <include file="$(find sensor_manager)/launch/sensor_process.launch" />
</launch>